.v-image__image--cover {
  background-size: contain !important;
}
.p-0 {
  padding: 0px !important;
}
a,
a:hover {
  text-decoration: none;
}
.stat-title {
  text-transform: capitalize;
  margin-top: 5px;
  font-size: 14px;
}
.title {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.game .black {
  color: #fff !important;
}
.v-list-item__content h2 {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 10px !important;
}
